* {
    margin: 0;
}

body {
    color: white;
    font-size: 8em;
    background-color: #1E1E1E;
}

div {
    box-sizing: border-box;
    overflow: hidden;
}

button {
    border: 2px solid white;
    height: 30px;
    width: 100px;
    transition: background-color 0.2s;
    background-color: #1E1E1E;
    color: white;
}

button:hover {
    background-color: #444444;
    cursor: pointer;
}

button:focus {
    outline: 0;
}

.bars-container {
    width: 80vw;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    height: 500px;
    margin: 50px auto;
    background-color: #161616;
    padding: 5px;
}

.number-bar {
    background-color: white;
    margin: 0 1px;
    border-radius: 0px 0px 5px 5px;
}

.buttons-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.slider {
    -webkit-appearance: none;
    height: 28px;
    border: 1px solid white;
    background-color: #1E1E1E;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 28px;
    height: 28px;
    background: white;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 28px;
    height: 28px;
    background: white;
    cursor: pointer;
}