@font-face {
    font-family: "KumbhSans";
    src: url(../fonts/KumbhSans-Regular.ttf);
}

* {
    margin: 0;
}

body {
    color: black;
    font-size: 8em;
    background-color: white;
}

div {
    box-sizing: border-box;
    overflow: hidden;
}

button {
    border: none;
    border-bottom: 2px solid #AEAEAE;
    height: 30px;
    width: 100px;
    transition: background-color 0.2s;
    font-family: 'KumbhSans';
    margin: 0 5px;
    background-color: white;
}

button:hover {
    background-color: #AEAEAE;
    cursor: pointer;
}

button:focus {
    outline: 0;
}

header {
    box-shadow: 0px 0px 10px black;
}

.bars-container {
    width: 80vw;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    height: 500px;
    margin: 50px auto;
    background-color: #AEAEAE;
    padding: 5px;
    box-shadow: 0px 0px 20px black inset;
}

.logo {
    text-align: center;
    width: 70%;
    font-family: 'KumbhSans';
    font-size: 30px;
    padding: 10px;
    margin: auto;
}

.icon {
    color: black;
    display: block;
    margin: auto;
    width: 100%;
    text-align: center;
    font-size: 25px;
}

.number-bar {
    background-color: white;
    margin: 0 1px;
    border-radius: 0px 0px 5px 5px;
}

.buttons-container {
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px 0;
}

.buttons-container-active {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px 0;
}

.sliders-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.slider-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.slider-container span {
    width: 100%;
    padding: 10px;
    font-family: 'KumbhSans';
    font-size: 15px;
    text-align: center;
}

.slider {
    -webkit-appearance: none;
    height: 25px;
    border: 1px solid #AEAEAE;
    background-color: white;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin: 0 auto;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 26px;
    height: 26px;
    background: #AEAEAE;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 26px;
    height: 26px;
    background: #AEAEAE;
    cursor: pointer;
}

@media (max-width: 500px) {
    .buttons-container {
        flex-direction: row;
    }
    button {
        width: 60%;
        border: none;
        border-bottom: 1px solid #AEAEAE;
        margin: 0 auto;
    }
}