@font-face {
    font-family: "KumbhSans";
    src: url(../fonts/KumbhSans-Regular.ttf);
}

* {
    margin: 0;
}

body {
    color: black;
    font-size: 8em;
    background-color: white;
}

div {
    box-sizing: border-box;
    overflow: hidden;
}

button {
    border: 2px solid black;
    height: 30px;
    width: 100px;
    transition: background-color 0.2s;
    font-family: 'KumbhSans';
    margin: 0 5px;
}

button:hover {
    background-color: #626262;
    cursor: pointer;
}

button:focus {
    outline: 0;
}

.bars-container {
    width: 80vw;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    height: 500px;
    margin: 50px auto;
    background-color: #626262;
    padding: 5px;
    box-shadow: 0px 0px 20px black inset;
}

.number-bar {
    background-color: white;
    margin: 0 1px;
    border-radius: 0px 0px 5px 5px;
}

.buttons-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    box-shadow: 0px 0px 10px black;
    padding: 10px 0;
}

.slider {
    -webkit-appearance: none;
    height: 25px;
    border: 2px solid black;
    background-color: white;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin: 0 5px;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: black;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: black;
    cursor: pointer;
}